/* css for GTrack */
/* login css*/
.login {
    margin: -168px 0 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
}
.login label {
    color: #707478;
}
.login .login-header {
    position: absolute;
    top: -80px;
    left: 50%;
    right: 0;
    width: 450px;
    padding: 0 40px;
    margin-left: -225px;
    font-weight: 300;
}
.login .login-header .brand {
    padding: 0;
    font-size: 28px;
    color: #2d353c;
}
.login .login-header .brand .logo {
    border: 14px solid transparent;
    border-color: #4DCACA #31A3A3 #1D8888;
    width: 28px;
    height: 28px;
    position: relative;
    font-size: 0;
    margin-right: 10px;
    top: -9px;
}
.login .login-header .brand small {
    font-size: 14px;
    display: block;
    color: #707478;
}
.login .login-header .icon {
    position: absolute;
    right: 40px;
    top: -2px;
    opacity: 0.1;
    filter: alpha(opacity=10);
}
.login .login-header .icon i {
    font-size: 70px;
}
.login .login-content {
    padding: 30px 40px;
    color: #999;
    width: 450px;
    margin: 0 auto;
}

/* Login V2 Setting */

.login.login-v2 {
    background: url(../img/transparent/black-0.4.png);
    background: rgba(0,0,0,0.4);
    color: #ccc;
    width: 450px;
    margin: 168px 0 0 -225px;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.login.login-v2 .login-content {
    padding: 40px;
}   
.login.login-v2 label {
    color: #ccc;
}
.login.login-v2 a {
    color: #fff;
}
.login.login-v2 .login-header,
.login.login-v2 .login-header .brand,
.login.login-v2 .login-header .brand small {
    color: #fff;
}
.login.login-v2 .login-header .brand small {
    color: rgba(255,255,255,0.5);
}
.login.login-v2 .login-header .icon {
    opacity: 0.4;
    filter: alpha(opacity=40);
}
.login.login-v2 .form-control {
    background: url(../img/transparent/black-0.4.png);
    background: rgba(0,0,0,0.4);
    border: none;
    color: #fff;
}
.login.login-v2 .form-control:focus {
    border-color: rgba(255,255,255,0.35);
}
.login-cover,
.login-cover-bg,
.login-cover-image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.login-cover-image img {
    max-width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.login-cover-bg {
    background: #666666; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #666666 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#666666), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #666666 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #666666 0%,#000000 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #666666 0%,#000000 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #666666 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.login-bg-list {
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 1020;
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 20px;
}
.login-bg-list > li {
    width: 80px;
    height: 60px;
    overflow: hidden;
    float: left;
    transition: all .2s linear;
    -webkit-transition:  all .2s linear;
}
.login-bg-list > li a {
    display: block;
    height: 60px;
}
.login-bg-list > li.active {
    outline: 3px solid #fff;
    z-index: 1020;
    position: relative;
}
.login-bg-list > li img {
    max-height: 100%;
}
/* login css*/
/* loader css*/
#loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,0.75) url(/adminlte_assets/dist/img/loading.gif) no-repeat center center;
  z-index: 10000;
}
/* loader css*/
/*timeline css*/
.time-css{
    margin-top: 50px !important;
}

#range-selector {
  font-family:  purisa, 'Myanmar3', cursive;
}
/*#range-selector .vis-timeline {
  font-family:  purisa, 'Myanmar3', cursive;
  font-size: 12pt;
  opacity: 0.8;
}
#range-selector .vis-item {
  border-color:  #17202a;
  background-color:  #34495e;
  font-size: 15pt;
  color:  #e5e8e8;
  box-shadow: 5px 5px 20px rgba(128,128,128, 0.5);
}
#range-selector .vis-item,
#range-selector .vis-item.vis-line {
  border-width: 1px;
}*/
#range-selector .vis-item.vis-dot {
  border-width: 20px;
  border-radius: 20px;
  background: url(/adminlte_assets/dist/img/avatar04.png) no-repeat center center;
}
/*#range-selector .vis-item.vis-selected {
  border-color: #17202a;
  background-color:  #aed6f1;
}
#range-selector .vis-time-axis .vis-text {
  color:   #f4f6f6;
  padding-top: 10px;
  padding-left: 10px;
}
#range-selector .vis-time-axis .vis-text.vis-major {
  font-weight: bold;
}
#range-selector .vis-time-axis .vis-grid.vis-minor {
  border-width: 2px;
  border-color:  #212f3d;
}
#range-selector .vis-time-axis .vis-grid.vis-major {
  border-width: 1px;
  border-color: #17202a;
}*/
/*timeline css*/