#map{ 
    width:100%; 
    height:500px; 
}
#log, #tracks tr td { 
    border: 1px solid #c6c6c6; 
}
#tracks { 
    width: 100%; 
}
.close_btn { 
    text-align: center; 
    vertical-align: middle; 
    cursor: pointer; 
}

.unit {
    cursor: pointer;
}
 #range-selector {
    height: 440px;
    width: 100%;
}

.m-t{
    margin-top:10px;
}

.wrap{ max-height:400px; overflow-y: auto; }


.modal-dialog {
    width:90% !important;
}

 .vis-item.vis-box.vis-readonly{
    border: 0 !important;
}

/*
.vis-item.vis-line.vis-readonly{
    border: 0 !important;
    background: transparent !important;
} */